<p class="help"></p>

<%= error_messages_for :style %>

<p>
  <label for="style_name"><%= 'Name'[] %></label><br />
  <%= form.text_field :name %>
</p>

<p>
  <label for="style_template_name"><%= 'Template'[] %></label><br />
  <%= form.select :template_name, StyleEditor::Template.available_templates, {},
          :onchange => remote_function(:update => 'style_options', :url => {:action => 'options', :id => @style},
          :submit => 'style_form', :before => '$("style_options").update("Loading Style Options...")') %>
</p>


<script type="text/javascript">//<![CDATA[
function copyValue(field, value){
	var f=$(field);f.value = value;f.select();f.focus(); 
}
//]]></script>

<div id="style_options">
<%= render_partial 'form_options' %>
</div>
