<% content_for :right do %>
<h5><%= 'Find a Style'[] %></h5>

<% form_tag styles_path, :method => 'get' do -%>
<p>
<label><%= 'Style name'[] %></label>
<%= text_field_tag :q, params[:q] %> 
<%= submit_tag "Search"[:search_title] %></p>
<% end -%>

<% if admin? %>
<h6><%= 'Admin'[:admin_title] %></h6>
<p><%= link_to('Create New Style', new_style_path, :class => "utility") %></p>
<% end %>


<% end -%>

<h1 style="margin-top:0;"><%= 'Styles'[:styles_title] %></h1>
<p class="subtitle">
<%= number_with_delimiter(@style_count) %> styles
</p>

<%= pagination @styles %>

<table border="0" cellspacing="0" cellpadding="0" class="wide forums">
  <tr>
    <th class="la" width="88%"><%= 'Name'[] %></th>
    <th><%= 'Template Name'[] %></th>
  </tr>
<% @styles.each do |style|-%>  
  <tr>
    <td><%= link_to h(style.name), style_path(style) %> [<%= link_to('edit', edit_style_path(style)) %>]</td>
    <td class="la"><%= style.template_name %></td>
  </tr>
<% end %>
</table>

<%= next_page @styles %>
<%= pagination @styles %>
